
.character-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
    padding: 3px;
}